body{
	margin: 0;
	background-color: gray;
	font-family: courier;
	font-weight: bold;
}
tile{
	image-rendering: pixelated;
 	box-sizing: border-box;
}
res,con{
	position: fixed;
	height: 70%;
	top: 0;
}
res{
	box-sizing: border-box;
	background-color: #e09a43;
	border: 2px solid white;
	box-sizing: border-box;
	overflow-y: scroll;
}
con{
	right: 50px;
	background-color: #e09a43;
	border: 2px solid white;
	box-sizing: border-box;
	padding: 5px;
}
bottom{
	position: absolute;
	height: 30%;
	bottom: 0;
	right: 50px;
	background-color: #e09a43;
	border: 2px solid white;
	box-sizing: border-box;
}
bar{
	position: absolute;
	width: 50px;
	height: 100%;
	background-color: #e09a43;
	border: 2px solid white;
	box-sizing: border-box;
	right: 0;
	top: 0;
}
#weather{
	opacity: .4;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}
drop{
	width: 100%;
	border-bottom: 2px solid gray;
	background-color: darkgray;
	display: grid;
	grid-template-columns: 85% 15%;
}
drop > img{
	float: right;
	width: 30px;
	transition: transform .3s;
	box-sizing: border-box;
	padding-top: 10px;
	transform-origin: 50% 60%;
	transform: rotate(90deg);
}
drop > p{
	box-sizing: border-box;
	padding-left: 19px;
}
cont{
    overflow:hidden;
    display: none;
    background-color: #666;
}
cont.open{
	display: inline-table;
	width: 100%;
	padding-left: 10px;
	box-sizing: border-box;
	padding: 5px;
	max-height: 100px;
    overflow-y: scroll;
}
blocks > img{
	image-rendering: pixelated;
}
actions{
	width: 100%;
	bottom: 0;
	left: 0;
	display: grid;
	position: sticky;
	grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
	background-color: gray;
	padding-top: 4px;
}
.occ{
	width: 90%;
	height: 90%;
	background-color: gray;
	box-sizing: border-box;
	border: 3px solid #444;
	box-sizing: border-box;
	margin: auto;
	transition: background-color .2s;
}
.occ > img{
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}
actions > div:hover{
	background-color: lightgray;
}
person{
	display: block;
	border-bottom: 1px solid gray;
	cursor: default;
	padding: 2px;
}
person:last-of-type{
	border-bottom: 0;
}
person:hover{
	background-color: gray;
}